* {
  box-sizing: border-box;
}

body {
  background: ghostwhite;
}

button {
  -webkit-appearance: none;
}

.authorize-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  color: black;
  font-size: 2.4rem;
}

.link {
  border-radius: 0.25em;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  background: transparent;
  color: midnightblue;
  cursor: pointer;
}

.button {
  border-radius: 0.25em;
  border: 1px solid midnightblue;
  padding: 0.5em 1em;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: midnightblue;
  cursor: pointer;
}

.button-height-keeper {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1rem;
  line-height: 1.5;
  color: royalblue;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 1rem;
  text-align: center;
  color: black;
  font-size: 2.4rem;
}

.submit-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.ng-count {
  color: black;
  font-size: 1.2rem;
}
